{% extends 'biorythms/layout.html' %}
{% load static %}


{% block meta_page_title %}Теория трех римов. Статьи.{% endblock %}


{% block text_content %}
	<div class='list'>
		<ul>
    		{% for article in articles %}
        	<li>
            	<a alt='статья: {{article.content.title}}' title='статья на тему: "{{article.content.title}}"' href="{% url 'bio_article' article.url %} ">{{article.content.title}}</a>
        	</li>
    		{% endfor %}
		</ul>
	</div>   

	<h2> Эмоциональный биоритм. Управление эмоциональным состоянием </h2>
	<div class='list'>
		<ul>
    		{% for article in articles_emo %}
        	<li>
            	<a alt='статья: {{article.content.title}}' title='статья на тему: "{{article.content.title}}"' href="{% url 'bio_article' article.url %} ">{{article.content.title}}</a>
        	</li>
    		{% endfor %}
		</ul>
	</div>   

	<h2> Умственный биоритм. Развитие интеллектуальных качеств </h2>
	<div class='list'>
		<ul>
    		{% for article in articles_mind %}
        	<li>
            	<a alt='статья: {{article.content.title}}' title='статья на тему: "{{article.content.title}}"' href="{% url 'bio_article' article.url %} ">{{article.content.title}}</a>
        	</li>
    		{% endfor %}
		</ul>
	</div>   

	<h2> Физический биоритм. Развитие физического тела </h2>
	<div class='list'>
		<ul>
    		{% for article in articles_fiz %}
        	<li>
            	<a alt='статья: {{article.content.title}}' title='статья на тему: "{{article.content.title}}"' href="{% url 'bio_article' article.url %} ">{{article.content.title}}</a>
        	</li>
    		{% endfor %}
		</ul>
	</div>   
{% endblock %}