{% extends 'biorythms/layout.html' %}
{% load static %}

{% block meta_page_title %}Биоритмы - расчет по дате рождения онлайн.{% endblock %}

{% block title %}Биоритмы человека.<br/>Расчет по дате рождения{% endblock %}

{% block text_content %}
<div id='text_content'>
    {% include "user/form/simple_form.html" with button="Рассчитать" %}
    <h2>формула расчета биоритмов</h2>
    <div class="img">
        <img    src="{% static 'img/bio_formula.png' %}"
                alt='Биоритмы человека. Расчет'
                title="Расчет биоритмов. формула">
    </div>
    <p>Где T - период ритма. 23 для физического ритма, 28 для эмоционального ритма и 33 для интеллектуального </p>
    <p> diff - Количество дней, прошедших с даты рождения до текущего момента. Для расчета этого числа нужно количество полных лет умножить на 365 и сложить с количеством высокосных годов, которые были за с момента рождения по настоящий день. К полученному числу прибавить количество дней прожитых с начала этого года. </p>
    <p>Полученное значение Y - значение биоритма в процентах. При этом: 100% - наиболее высокие показатель, -100% (отрицательный) - наиболее низкий.</p>
</div>
{% endblock %}




