{% extends 'moonphases/layout.html' %}
{% load static %}
{% load phases %}
{% load snctdate %}

{% block meta_page_title %}{{article.content.title}}{% endblock %}

{% block meta_description %}{{ article.meta.description }}{% endblock %}
{% block meta_keywords %}{{ article.meta.keywords }}{% endblock %}

{% block og_meta %}
<meta property="og:title" content="{{ article.content.title }}" />
<meta property="og:image" content="http://{{SITE_URL}}{% get_static_prefix %}img/moon_phases/waxing_gibbous_3.png" />
<link rel="image_src" href="http://{{SITE_URL}}{% get_static_prefix %}img/moon_phases/waxing_gibbous_3.png" />
<meta property="og:url" content="http://{{SITE_URL}}{% url 'moonphases_article' article.url %}"/>
<meta property="og:type" content="article"/>
<meta property="og:type:article:section" content="Астрология"/>
{% endblock %}



{% block text_content %}
    <h1>{{ article.content.title }}</h1>

    {% autoescape off %}
        {{ article.content.text }}
    {% endautoescape %}
{% endblock %}