{% extends 'moonphases/layout.html' %}
{% load static %}
{% load phases %}
{% load snctdate %}


{% block meta_page_title %}Как жить в соответсвии с фазой луны.{% endblock %} 

{% block text_content %}



<div id='moon_phases'>
	<div class='list'>
		<ul>
    		{% for article in articles %}
        	<li>
            	<a alt='статья: {{article.content.title}}' title='статья на тему: "{{article.content.title}}"' href="{% url 'moonphases_article' article.url %} ">{{article.content.title}}</a>
        	</li>
    		{% endfor %}
		</ul>
	</div>

</div>
{% endblock %}