{% extends 'moonphases/layout.html' %}
{% load static %}
{% load phases %}
{% load snctdate %}

{% block meta_page_title %}Фаза луны на сегодня.{% endblock %} 


 


{% block text_content %}
<div id='moon_phases'>


<div class='period_today'>
  <p>  <h3>Сегодня {{now|snct_dateformat:"[d] [M2]"}}:<br/> {{moon_info.moon_day}}-й лунный день,<br/> {% alt_phase_period moon_info.today %}</h3></p>
  
  <p>
  {% if moon_info.today == 'new' %}
    Новолуние - время анализа прошлого и подробного планирования месяца. По возможности откажитесь от любой активности. 
  {% elif moon_info.today == 'full' %}
    Полнолуние - время сложных энергитических практик, время анализа и планирования. Энергия дня медитативная, избегайте принятия решений, инициативы.
  {% elif moon_info.today == 'waning' %}
    Убывающая луна - время заверешения начатых дел, что-то новое начинать в этот период нежелательно. Избавляться от чего-либо в своей жизни слеудет на убывающую луну
  {% elif moon_info.today == 'waxing' %}
    Растущая луна - время обретения и накопления. Начинать новые дела, осущесвтлять крупные приобретения, что-то менять в своей жизни следует на растущую луну.
  {% endif %}
  </p>

</div>


<div class='next_period'>
<p>
{% if now > moon_info.periods.full.1 %}
    <div class='period'> 
        <b>Следующее&nbsp;новолуние:</b><br/>  {% phase_time moon_info 'next_periods' 'new' %}
    </div>
    <div class='period'>
        <b>Следующее&nbsp;полнолуние:</b> <br/>{% phase_time moon_info 'next_periods' 'full' %}
    </div>
{% else %}
    <div class='period'>
        <b>Следующее&nbsp;полнолуние:</b> <br/> {% phase_time moon_info 'periods' 'full' %}
    </div>
    <div class='period'>
        <b>Следующее&nbsp;новолуние:</b>  <br/>{% phase_time moon_info 'next_periods' 'new' %}
    </div>
{% endif %}
</p>
<div class='period'> 
    <b>Луна сегодня:</b><br/>
      Восход: {{moon_info.previous_rising|date:"H:i"}}<br/> 
      Закат: {{moon_info.next_setting|date:"H:i"}} </p>
      </div>
  </div>

</div>
     
     

{% endblock %}