@import "../foundation/scss/foundation.scss";

div.loading {
    opacity: 0.3;
    background-image: url('/static/img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
div.bio_info {
    @include grid-row();
    div.todayinfo{
        padding-top: 40px;
        @include grid-column(6, false, false, 1);
        h2 {
            text-align: center;
        }
        div.biorithms {
            ul {
                list-style-type:none;
            }
            span.period23, span.period28,span.period33 {
                font-weight: bold;
            }
            span.period23 {
                color: #e67869;
            }
            span.period28 {
                color: #3b9647;
            }
            span.period33 {
                color: #193020;
            }
        }
    }
}


div.calendar {
    @include grid-column(5);
    table {
        a {
            text-decoration: none;
        }
        border: none;
        background: none;
        th {
            text-align: center;
            a {
                text-decoration: none;
            }
        }
        tr:nth-of-type(2n) {
            background: none;
        }
        td.sat, td.sun, th.sat, th.sun {
            color:#f37019;
        }
        td {
            text-align: center;
            border: 1px solid #fff;
        }
        td.today {
            border: 1px solid #f37019;
            border-radius: 50%;
        }
        td.new {
            border: 2px solid black;
            background-color:gray;
            border-radius: 50%;
            color:#fff;
        }
        td.full {
            border: 2px solid black;
            border-radius: 50%;
        }

        td.selected {
            border: 1px solid #f37019;
            border-radius: 50%;
        }
    }
}
   
div#biorythms_chart {
    margin-bottom: 10px;
    position:static;
}

/* экраны */
@media screen and (min-width: 1024px) {
}
/* планшеты */
@media screen and (min-width: 700px) and (max-width: 1024px) {
}
/* телефоны */
@media screen and (min-width: 320px) and (max-width: 700px) {
    div.promo, div.calendar, #biorythms_chart {
        display:none;
    }
    div.bio_info {
        div.todayinfo{
            @include grid-column(12, false);
            margin:0px !important;
            padding:20px;
        }
    }
}
/* хня какая-то */
@media screen and (max-width: 320px) {
    div.promo, div.calendar, #biorythms_chart {
        display:none;
    }
    div.bio_info {
        div.todayinfo{
            @include grid-column(12, false);
            margin:0px !important;
            padding:10px;
        }
    }
}

