@import "variable.scss";

body {
  p.error {
    color: $color_error;
  }

  div#element_sex {
    ul li {
      display: inline-block;
      input {
        display: inline;
        height:15px;
      }
    }
  }

  div#element_is_emigrated {
      input {
        height:15px;
        display: inline;
      }
  }

}
