<div class='auth'>
    <div class="link" id='left_link'>
        {% if not user.is_authenticated %}
        <a href='{% url 'user_registration' %}'
            alt='Дни силы человека. даты'
            title="Узнать дни силы"
            {% if not request.get_full_path == '/user/login/' %}class='active'{% endif %}>зарегистироваться</a>
        {% else %}
            <a href='{% url 'user_registration' %}'
            alt='Дни силы человека. даты'
            title="Узнать дни силы"
            {% if not request.get_full_path == '/user/login/' %}class='active'{% endif %}>Мой календарь</a>
        {% endif %}
    </div>
    <div id='logo'>
        <div id='middle_link'>
            <a href='{% url 'home' %}'
                alt='Дни силы'
                title="календарь дней силы"><h2>Дни силы</h2></a>
        </div>
    </div>
    <div class="link" id='right_link'>
        {% if not user.is_authenticated %}
        <a href='{% url 'auth_login' %}'
            alt='Дни силы человека. даты'
            title="мои дни силы"
            {% if request.get_full_path == '/user/login/' %}class='active'{% endif %}
            >войти</a>
        {% else %}
            {{user}}: <a href='{% url 'auth_logout' %}?next={% url 'home' %}'
            alt='Дни силы человека. даты'
            >выйти</a>
        {% endif %}
    </div>
</div>