{% load url from future %}

<p>Приветсвую вас, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}.</p>

<p>Вы получили это письмо, потому что вы (или кто-то другой)
    запросил восстановление доступа  для учетной записи пользователя на ezo-date.ru.</p>


<p>Чтобы сбросить пароль, пожалуйста, перейдите по следующей ссылке:</p>
<p>
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
</p>
<p>Ваш логин, если вы его забыли: {{ user.username }}</p>

<p>Если вы не хотите изменять адрес электронной почты, просто проигнорируйте это письмо.</p>

<p>Спасибо, что используете наш сайт!<br/>
    С уважением, команда сайта Дни Силы.</p>


С уважением, команда сайта Дни Силы.


