{% extends 'layout_my.html' %}
{% load static %}


{% block content %}
    <h1>Инструменты познания</h1>
    <div class="service numerology">
        <img src="{% static 'img/numerology.png' %}"
            alt='Нумерология по дате рождения'
            title='Нумерология по дате рождения' /><br/>
        <a href='{% url 'num_home' %}'
            alt='число рождения'
            title="Расчет числа рождения">Нумерология по дате рождения</a>
        <div class='about'> Расчет числа рождения определяет врожденные черты характера - то, с чем человек приходит в мир - это помогает лучше разобраться в себе, своих сильных и слабых сторонах, избежать трудностей на пути к достижению своих целей</div>

    </div>
    <br/>

    <div class="service biorythms">
        <img src="{% get_static_prefix %}img/biorythms-promo.png"
            alt='Биоритмы человека'
            title='Биоритмы человека' /><br/>
        <a href='{% url 'bio_home' %}'
            alt='Биоритмы онлайн'
            title="Расчет биоритмов"
        >Биоритмы человека</a>
        <div class='about'>Биоритмы — природные циклы биологических и энергетических изменений, которым подвержено все в природе. Рассчитав биоритмы, вы получите удобный график, показывающий периоды повышенной и приниженной активности, пиковые точки ваших трех ритмов
        </div>
    </div>

    <div class="service moon_birthday">
        <img alt='Лунный день рассчитать'
            title='лунный день рождения'
            src="{% get_static_prefix %}img/moon_birthday.png" />
        <br/>
        <a href='{% url 'moon_birthday_home' %}'
            title="лунный календарь рождения"
            alt="Какой лунный день соответсвует рождению">Лунный день рождения</a>
        <div class='about'>Луна влияет на подсознание человека, его скрытые возможности, инстинкты, интуицию. Лунное число рождения покажет на что следует обратить внимание, чего избегать и к чему стремиться.</div>
    </div>

    <div class="service solar">
        <img alt='соляр - транзит солцна'
            title='транзит солнца. Соляр'
            src="{% get_static_prefix %}img/sun.png" />
        <br/>
        <a href='{% url 'solar_home' %}'
            title="расчитать соляр дня рождения онлайн"
            alt="астрология соляр онлайн">Дата открытия соляра</a>
        <div class='about'>Соляр - это момент точного возвращения Солнца в такое положение, которое было у него в день вашего рождения. Последующие 12 дней следует провести наиболее осознанно - в это время происходит закладка программы на благоприятный год.</div>
    </div>

    <div class="service moonphases">
        <img alt='лунный календарь на {% now "F, Y" %}'
            title='Фазы луны на {% now "F, Y" %}'
            width="200px"
            src="{% get_static_prefix %}img/moon_phases/waning_crescent_4.png" />
        <br/>
        <a href='{% url 'moonphases_home' %}'
            title="фаза луны сегодня"
            alt="фазы луны">Фаза луны</a>
        <div class='about'>Выстроить свои дела в соотвествии с положением луны - весьма полезная практика. Дела лучше начинать на растущей луне, а заканчивать на убывающей. Зная какая сегодня фаза луны - вы сэкономите немало сил и времени.</div>
    </div>

    <div class="service clock">
        <img alt='астрономический полдень'
            title='режим дня'
            src="{% get_static_prefix %}img/clock.png"
            width="200px" />
        <br/>
        <a href='{% url 'moonphases_home' %}'
            title="астрономический полдень и другие сервисы времени"
            alt="астрономический полдень">Солнечное время</a>
        <div class='about'>Режим дня это важно: если ложиться спать, просыпатья и питаться в соответсвии с солнечными ритами вы почувствуете гармонию с природой, у вас будет больше сил и энергии в течение дня. </div>
    </div>

    <div class='ad'>
        {% include "ad.html" %}
    </div>



{% endblock %}