{% extends 'solar/layout.html' %}
{% load static %}
{% load solar %}

{% block meta_page_title %}12 дней после дня рождения (открытия соляра).{% endblock %} 


{% block img %}
        <img src="{% static "img/sun-vintage.png" %}"
            alt='12 дней. Дома соляра'
            title='Соляр. Расчет даты открытия онлайн'
        >
{% endblock %}

{% block text_content %}
<p>
Двенадцать следующих деней с момента открытия Соляра закладывают программу на следующий год, поэтому проижить их нужно с полной осознанностью, следуя рекомендациям и борясь с искушениями.
</p>
<div class='list'>
<ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'solar_day' article.url|url_to_num %}"
                alt="{{ forloop.counter }} день с момента открытия соляра"
                title="{{ forloop.counter }} день с момента открытия соляра"
            >{{article.content.title}}</a>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}