{% extends 'solar/layout.html' %}
{% load static %}


{% block meta_page_title %}Открытие соляра: {{ nday }} день после дня рождения.{% endblock %}

{% block meta_description %}{{ article.meta.description }}{% endblock %}
{% block meta_keywords %}{{ article.meta.keywords }}{% endblock %}


{% block og_meta %}
    <meta property="og:title" content="Открытие соляра: {{ nday }} день после дня рождения." />
    <meta property="og:image" content="http://{{SITE_URL}}{% get_static_prefix %}img/sun-vintage.png" />
    <link rel="image_src" href="http://{{SITE_URL}}{% get_static_prefix %}img/sun-vintage.png" />
    <meta property="og:url" content="http://{{SITE_URL}}{% url 'solar_day' nday %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:type:article:section" content="Астрология"/>
{% endblock %}


{% block img %}
        <img src="{% static "img/sun-vintage.png" %}"
            alt='12 дней. Дома соляра'
            title='Соляр. Расчет даты открытия онлайн'
        >
{% endblock %}


{% block text_content %}
    <h1>{{ article.content.title }}</h1>

    {% autoescape off %}
        {{ article.content.text }}
    {% endautoescape %}
{% endblock %}