{% extends 'solar/layout.html' %}
{% load static %}
{% load solar %}
{% load interface %}

{% block meta_page_title %}Расшифровка 12 дней.{% endblock %}



{% block text_content %} 

{% block year_navigator %}
    <h2>Дата открытия соляра на:</h2>
    {% year_navigator 'solar_open_year' year %}
    <h1>
         {{solar_open_time }}
    </h1>
<p>
    Двенадцать следующих деней с {{solar_open_time}} закладывают программу на следующий год, поэтому проижить их нужно с полной осознанностью, следуя рекомендациям и борясь с искушениями.
</p>

{% endblock %}

<table>
{% for day in days %}
    <tr {% if day.current %} class='active' {% endif %}>
        <td>день&nbsp;{{ forloop.counter }}</td>
        <td>{{ day.date.0|date:"d.m"}}&nbsp;{{day.date.0|date:"H:i" }}&nbsp;-&nbsp;{{ day.date.1|date:"d.m"}}&nbsp;{{day.date.1|date:"H:i" }}</td>
        <td><a href="{% url 'solar_day' day.article.url|url_to_num %}"
                alt="{{ forloop.counter }} день с момента открытия соляра"
                title="{{ forloop.counter }} день с момента открытия соляра"
            >{{day.article.content.title}}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}