{% extends 'numerology/layout.html' %}
{% load static %}

{% block meta_description %}Все числа рождения, включая число рождения 11 и 22. Описание чисел рождения{% endblock %}
{% block meta_keywords %}Число рождения, описание числа рождения{% endblock %}


{% block title %}Значение числа рождения{% endblock %}
{% block meta_page_title %}Значение числа рождения{% endblock %}


{% block text_content %}
<div class='list'>
<ul>
    {% for n in all_nums %}
        <li>
            <a  href='{% url 'num_birthday' n %}'
                title='Число рождения {{n}}'
                alt="{{n}} число рождения"
            >Число рождения {{n}}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}