{% extends 'numerology/layout.html' %}
{% load static %}

{% block img %}
    <img    src="{% get_static_prefix %}img/form.png"
            alt='расчитать число рождения'
            title='Нумерология по дате рождения. Расчитать' />
{% endblock %}

{% block meta_page_title %}Как рассчитать дату рождения.{% endblock %}

{% block title %}Как рассчитать дату рождения{% endblock %}

{% block text_content %}
    {% include "user/form/simple_form.html" with button="Рассчитать" %}
    <p>
        Рассчитать свою нумерологию по дате рождения очень просто. Достаточно сложить все цифры в дате рождения и получить число, в котором тоже нужно сложить цифры между собой до получения однозначного числа. Исключения составляют 11 и 22. Эти числа являются особыми и их приводить к однозначному числу не следует.
    </p>

    <p>
        Например, человек родися 3 ноября 1983 года. Рассчитаем для этой даты нумерологическое число рождения.
        <ol>
            <li>
                Запишем дату рождения в числовой форме 03.11.1983.
            </li>
            <li>
                Сложим все цирфы в дате рождения: 3+1+1+1+9+8+3. Получим 26.
            </li>
            <li>
                Полученное число 26 - не однозначное, не 11 и не 22. Поэтому сложим 2+6 и получим 8
            </li>
            <li>
                8 - это число рождения человека, родившегося 3 ноября 1983 года
            </li>
        </ol>
    </p>
{% endblock %}



