{% extends 'layout.html' %}
{% load static %}

{% block meta_title %}Эзотерика дня рождения: биоритмы, нумерология, лунный день рождения{% endblock %}

{% block css %}
    <link
        type="text/css" rel="stylesheet"
        href="{% static "css/frontend.css" %}" charset="utf-8">
{% endblock %}


{% block base_content %}
<div id='services'>
    <h1>Эзотерика дня рождения</h1>
    <h2>инструменты познания</h2>
    <!--
    <div id='form' class='form_fronetnd'>

        <form action="/" method="post"
            {% if form.errors %} class='error' {% endif %}>
            {% csrf_token %}
            <h3>Ваша дата рождения</h3>
            {{ form.date }}
            {{ form.date.errors }}

            <div id='button'>
                <button type="submit">рассчитать</button>
            </div>
        </form>
    </div>
    -->
    <div id='numerology' class="service">
        <img src="{% get_static_prefix %}img/1.jpg"
            alt='Нумерология по дате рождения'
            title='Нумерология по дате рождения' /><br/>
        <a href='{% url 'num_home' %}'
            alt='число рождения'
            title="Расчет числа рождения"
        >Нумерология по дате рождения</a>
        <div class='about'> Расчет числа рождения определяет врожденные черты характера - то, с чем человек приходит в мир - это помогает лучше разобраться в себе, своих сильных и слабых сторонах, избежать трудностей на пути к достижению своих целей</div>

    </div>

    <div id='biorythms' class="service">
        <img src="{% get_static_prefix %}img/biorythms-promo.png"
            alt='Биоритмы человека'
            title='Биоритмы человека' /><br/>
        <a href='{% url 'bio_home' %}'
            alt='Биоритмы онлайн'
            title="Расчет биоритмов"
        >Биоритмы человека</a>
        <div class='about'>Биоритмы — природные циклы биологических и энергетических изменений, которым подвержено все в природе. Рассчитав биоритмы, вы получите удобный график, показывающий периоды повышенной и приниженной активности, пиковые точки ваших трех ритмов</div>
    </div>

    <div id='moon_birthday' class="service">
        <img alt='Лунный день рассчитать'
            title='лунный день рождения'
            src="{% get_static_prefix %}img/moon_birthday.png" />
        <br/>
        <a href='{% url 'moon_birthday_home' %}'
            title="лунный календарь рождения"
            alt="Какой лунный день соответсвует рождению">Лунный день рождения</a>
        <div class='about'>Луна влияет на подсознание человека, его скрытые возможности, инстинкты, интуицию. Лунное число рождения покажет на что следует обратить внимание, чего избегать и к чему стремиться.</div>
    </div>
</div>

<div id='services2'>
    <div id='solar' class="service">
        <img alt='соляр - транзит солцна'
            title='транзит солнца. Соляр'
            src="{% get_static_prefix %}img/sun.png" />
        <br/>
        <a href='{% url 'solar_home' %}'
            title="расчитать соляр дня рождения онлайн"
            alt="астрология соляр онлайн">Дата открытия соляра</a>
        <div class='about'>Соляр - это момент точного возвращения Солнца в такое положение, которое было у него в день вашего рождения. Последующие 12 дней следует провести наиболее осознанно - в это время происходит закладка программы на благоприятный год.</div>
    </div>

    <div id='moonphases' class="service">
        <img alt='лунный календарь на {% now "F, Y" %}'
            title='Фазы луны на {% now "F, Y" %}'
            src="{% get_static_prefix %}img/moonphases-promo.png" />
        <br/>
        <a href='{% url 'moonphases_home' %}'
            title="фаза луны сегодня"
            alt="фазы луны">Фаза луны</a>
        <div class='about'>Выстроить свои дела в соотвествии с положением луны - весьма полезная практика. Дела лучше начинать на растущей луне, а заканчивать на убывающей. Зная какая сегодня фаза луны - вы сэкономите немало сил и времени.</div>
    </div>

</div>


{% endblock %}
{% include "ad.html" %}


{% block block_js %}
<script type="text/javascript">
    jQuery(function(){
        jQuery('input[placeholder], textarea[placeholder]').placeholder('');
        jQuery("#id_date").mask("99.99.9999");
        jQuery("#id_time").mask("99.99");
    });
</script>


{% endblock %}
