{% extends 'layout.html' %}
{% load static %}

{% block base_content %}
<style type="text/css">
    div#text_content {
        text-align: center;

    }
    div.logo {
        padding-top: 20px;
    }
    div.logo div.text {
        position: absolute;
        top:150px;
        left: 0px;
        text-align: center;
        font-size: 100px;
        color: #2980b9;
        width: 100%;
    }
    ul.messages{
        color: green;
    }

</style>
<div id='text_content'>
    <a href='{% url 'home' %}'>на главную</a>
    <div class='logo'>
        <img src='{% static 'img/fon.png' %}' width="400px">
        <div class='text'>2.0</div>
    </div>
    <div class='promo'>

        <h1>Планируется серьезное обновление сайта</h1>
        <p>Если вы хотите, чтобы вас уведомили, когда новая версия начнет работать - оставьте ваш email и ждите письма с новостью </p>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id='form' class='form_fronetnd'>

        <form  method="post"
            {% if form.errors %} class='error' {% endif %}>
            {% csrf_token %}
            <h3>email:</h3>
            {{ form.email }}
            {{ form.email.errors }}
            <div id='button'>
                <button type="submit">подписаться</button>
            </div>
        </form>
    </div>

    </div>
</div>
{% endblock %}