{% extends 'layout_my.html' %}
{% load static %}


{% block meta_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}


{% block content %}

<div class="promo">
  <div class='circle'>
    <div class='num'>
      <h2 class='error'>404</h2>
      <div id='link'>
          страница не найдена
      </div>
    </div>
</div>
</div>

<div id='text_content' class='error'>
<h2>Страница не найдена.<br/> Убедитесь в корректности адреса</h2>
</div>


{% endblock %}

