{% extends 'layout_my.html' %}
{% load static %}


{% block meta_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}


{% block content %}

<div class="promo">
  <div class='circle'>
    <div class='num'>
      <h2 class='error'>500</h2>
      <div id='link'>
          ошибка на сервере
      </div>
    </div>
</div>
</div>

<div id='text_content' class='error'>
<h2>Произошла ошибка на сервере. Администраторы сайта уже предупреждены и трудятся над исправлением </h2>
</div>


{% endblock %}






