<div class='ad'>
    <div id="b_script_149558">
    <div id="b_script_146841">
    <script type="text/javascript">
    (function () {
        var s = document.createElement("script"),
            n;
        s.type = "text/javascript";
        s.async = true;
        if ($(window).width() < 900) {
            s.src = "//cache.betweendigital.com/sections/2/149558.js";
            n = document.getElementById("b_script_149558");
        } else {
            s.src = "//cache.betweendigital.com/sections/2/146841.js";
            n = document.getElementById("b_script_146841");
        }
        n.appendChild(s);
    })();
    </script>
    </div></div>
</div>