{% extends 'base_layout.html' %}
{% load static %}

{% block head %}
    <title>{% block meta_title %}{% endblock %} Дни силы</title>
    <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script src="{% static "js/jquery.placeholder.min.js" %}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" charset="utf-8">
    {% block css %}{% endblock %}
    <!--[if lt IE 9]>
        <script src="{% static "js/css3-mediaqueries.js" %}"></script>
        <script src="{% static "js/html5.js" %}"></script>
    <![endif]-->
{% endblock %}

{% block body %}{% block base_content %}{% endblock %}{% endblock %}
