{% extends 'layout_fnd.html' %}
{% load static %}

{% block meta_title %}{% block meta_page_title %}{% endblock %} Дни силы{% endblock %}


{% block meta_head %}
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
    <link href="{% static "hamburger/hamburgers.min.css" %}" rel="stylesheet">
{% endblock %}


{% block base_content %}
    <div class='side_bar'>




            <div class="logo">


            <button class="hamburger" type="button">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
            </button>

                <div class="title">

                <a href='{% url 'home' %}'
                   alt='Дни силы'
                   title="Календарь дней силы">
                    <h2>Дни силы<br/>
                        <small>Календарь особых дней</small>
                    </h2>
                </a>
                    </div>


            </div>



        <div class="side_menu">

            <div id="user_profile">
                <h2 class='menu_title'>Профиль</h2>
                <ul>
                    {% if not user.is_authenticated %}
                        <li {% if service == 'login' %} class='active' {% endif %} ><a
                                href="{% url 'auth_login' %}">Войти</a></li>
                        <li {% if service == 'registration' %} class='active' {% endif %}><a
                                href="{% url 'registration_register' %}">Зарегистироваться</a></li>
                    {% else %}
                        <li {% if service == 'user_profile' %} class='active' {% endif %} ><a
                                href="{% url 'user_profile' %}">
                            Настройки {{ user.first_name|default:user}}
                        </a></li>
                        <li><a href="{% url 'auth_logout' %}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>

            <h2 class='menu_title'>Инструменты познания</h2>
            <ul>
                <li {% if service == 'numerology' %} class='active' {% endif %}>
                    <a href='{% url 'num_home' %}'
                       alt='число рождения'
                       title="Расчет числа рождения">Нумерология&nbsp;дня&nbsp;рождения</a>
                </li>
                <li {% if service == 'biorythms' %} class='active' {% endif %}>
                    <a href='{% url 'bio_home' %}'
                       alt='Биоритмы онлайн'
                       title="Расчет биоритмов">Биоритмы&nbsp;человека</a>
                </li>
                <li {% if service == 'moonbirthday' %} class='active' {% endif %}>
                    <a href='{% url 'moonbirthday_home' %}'
                       title="лунный календарь рождения"
                       alt="Какой лунный день соответсвует рождению">Лунный&nbsp;день&nbsp;рождения</a>
                </li>
                <li {% if service == 'solar' %} class='active' {% endif %}>
                    <a href='{% url 'solar_home' %}'
                       title="расчитать соляр дня рождения онлайн"
                       alt="астрология соляр онлайн">Дата&nbsp;открытия&nbsp;соляра</a>
                </li>
                <li {% if service == 'moonphases' %} class='active' {% endif %}>
                    <a href='{% url 'moonphases_home' %}'
                       title="фаза луны сегодня"
                       alt="фазы луны">Фаза&nbsp;луны</a>
                </li>
                <li  {% if service == 'suntime' %} class='active' {% endif %}>
                    <a href='{% url 'suntime_home' %}'
                       title="астрономический полдень и другие сервисы времени"
                       alt="астрономический полдень">Солнечное&nbsp;время</a>
                </li>
            </ul>
            <div class="ad">
                <!--BETWEEN SSP CODE V3.0 START-->
                <div id="b_script_404362">
                    <script async src="//cache.betweendigital.com/sections/2/404362.js"></script>
                </div><!--BETWEEN SSP END-->
            </div>
        </div>
    </div>
    </div>
    <div class='content'>
        <div class='service_content' id='service_content'>
            {% block content %}{% endblock %}
            <div class='ad'>{% include "ad.html" %}</div>
            <div class='footer'>
                <div class='about'>
                    © 2014 - {% now "Y" %} Дни силы.
                </div>
            </div>
        </div>
    </div>

{% endblock %}