{% extends 'base_layout.html' %}
{% load static %}

{% block head %}
    <title>{% block meta_title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
{% endblock %}

{% block block_js %}
  <script type="text/javascript">
      $(document).foundation();
  </script>
{% endblock %}

{% block body %}{% block base_content %}{% endblock %}{% endblock %}