{% extends 'moonbirthday/layout.html' %}
{% load static %}
{% load moon %}
{% load url from future %}
{% block page_title %}Расчитать.{{ num }}{% endblock %}
{% block meta_description %}Луна - это подсознание человека, его скрытые возможности, инстинкты, интуиция. Знания характеристики своего лунного дня рождения поможет понять себя {% endblock %}
{% block meta_keywords %}лунный день рождения, характеристика, календарь рождения, календарь лунных дней, характеристика лунных дней{% endblock %}

{% block og_meta %}
    <meta property="og:image" content="{% get_static_prefix %}img/moon_birthday.png" />
    <link rel="image_src" href="{% get_static_prefix %}img/moon_birthday.png" />
{% endblock %}

{% block content %}

<div id='text_content'>
    <div class="image">
        <img src="{% static "img/moons.png" %}"
            alt='характеристика лунных дней'
            tilte='календарь лунных дней'
        >
    </div>
    <div class='nums_list'>
    {% for article in articles %}
        <div>
            <a href="{% url 'moon_birthday_num' article.name|url_to_digit %}"
                alt="{{article.name|url_to_digit}} лунный день рождения"
                title="{{article.name|url_to_digit}} лунный день рождения. Характеристика"
            >{{article.title}}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}