{% extends 'moonbirthday/layout.html' %}
{% load static %}
{% load moon %}
{% load url from future %}
{% block page_title %}Лунное число рождения {{ num }}{% endblock %}
{% block meta_description %}Характеристка {{ num }} дня рождения. Луна - это подсознание человека, его скрытые возможности, инстинкты, интуиция. {% endblock %}
{% block meta_keywords %}Расчитать лунное число рождения, лунный календарь, характеристика лунных дней{% endblock %}

{% block og_meta %}
    <meta property="og:image" content="{% get_static_prefix %}img/moon.png" />
    <link rel="image_src" href="{% get_static_prefix %}img/moon.png" />
{% endblock %}

{% block css %}
    {{ block.super }}
    <link type="text/css" href="{% static "css/style-select.css" %}" rel="stylesheet" charset="utf-8"/>
{% endblock %}
{% block content %}

<div id='text_content'>
    <div class="image">
        <img src="{% static "img/moon.png" %}"
            alt='{{content.name|url_to_digit}} лунный день рождения'
            tilte='{{content.name|url_to_digit}} лунный день рождения. Характеристика'
        >
    </div>

    <h1>{{ content.text.title }}</h1>

    {% autoescape off %}
        {{ content.text.content }}
    {% endautoescape %}
</div>

{% endblock %}